// HOME TOP SLIDER ------
.home-top-slider {
  height: 600px;
  .owl-carousel {
    display: block;
    height: 100%;
    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .slide {
      height: 100%;
    }
    .owl-nav {
      position: absolute;
      top: 300px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      button {
        width: 20px;
        height: 20px;
        background-position: center!important;
        background-size: contain!important;
        background-repeat: no-repeat!important;
        span {
          display: none;
        }
        &.owl-prev {
          background-image: url(../assets/arrow_left.svg);
          opacity:0.7;
          &:hover{
            opacity:1;
          }
        }
        &.owl-next {
          background-image: url(../assets/arrow_right.svg);
          opacity:0.7;
          &:hover{
            opacity:1;
          }
        }
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      button.owl-dot {
        width: 15px;
        margin: 5px;
        height: 15px;
        border: 4px solid #fff;
        background-color: #fff;
        border-radius: 50%;
        &.active, &:hover {
          background-color: #ff4040;
        }
      }
    }
  }
  .slide {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:after {
      content: "";
      position: absolute;
      background: #2e2e2e;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.05;
      z-index: 30;
    }
    .text-box {
      margin-top: 5rem;
      position: relative;
      z-index: 40;
      padding: 2.5rem;
      background: #fff;
      box-shadow: 20px 20px rgba(46, 46, 46, 0.75);
      border: 1px solid #2E2E2E;
      p,
      strong {
        display: inline;
        line-height: 1.75;
        font-size: 18px;
      }
      strong {
        font-family: "HN Black", sans-serif;
      }
    }
  }
}

// TWO IMAGE NARRATIVE -------
.two-img-narrative {
  padding: 5.5rem 0;
  margin: 1rem 0;
  .bordered-text {
    p {
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 1.5rem;
    }
  }
  &--imgs {
    position: relative;
    &:before {
      content: "";
      background-image: url(../assets/arch-small.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 176px;
      height: 176px;
      right: 0;
      top: -5px;
      transform: rotate(16deg);
    }
    .narr-image {
      height: 292px;
      width: 292px;
      border-radius: 50%;
      border: 1px solid #2e2e2e;
      z-index: 12;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        border: 10px solid #fff;
        border-radius: 50%;
      }
      &:last-of-type {
        position: absolute;
        left: 105px;
        top: 215px;
        z-index: 10;
      }
    }
  }
}

.image-textblock-section {
  padding: 8.5rem 0;
  h2 {
    font-size: 40px;
    font-family: "HN Black";
    padding-bottom: 2rem;
    margin-top: 3.5rem;
  }
  .row {
    position: relative;
  }
  .col-md-3 {
    position: static;
  }
  .textblock {
    position: absolute;
    background: #fff;
    width: 50%;
    z-index: 500;
    padding: 2rem;
    border: 1px solid #2e2e2e;
    box-shadow: 15px 15px #2e2e2e;
    p {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 1.5rem;
    }
    .arrow-link {
      text-align: right;
    }
    strong a{
      color:#ff4040!important;
    }
  }
  &.inner-page {
    padding: 5rem 0;
    h2 {
      font-size: 24px;
      line-height: 1.25;
      padding-bottom: 1rem;
    }
  }
}

// STATISTICS SECTION ----
.statistics-section {
  padding: 5rem 0;
  margin-bottom: 3rem;
  h2 {
    font-size: 40px;
    font-family: "HN Black";
    padding-bottom: 2rem;
  }
  p {
    font-size: 20px;
  }
  .row:nth-of-type(2) {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .row.numbers-row {
    margin-bottom: 3rem;
    .col-md-6 {
      display: flex;
      align-items: center;
      .number {
        h4 {
          color: #a3d4bb;
          font-family: "HN Black";
          font-size: 110px;
          letter-spacing: -4.05px;
        }
      }
      .summary {
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        width: 50%;
        p {
          font-family: "HN Black";
        }
      }
    }
  }
}

.pre-footer-narrative {
  padding: 6.5rem 0;
  h2 {
    font-size: 40px;
    font-family: "HN Black";
    padding-bottom: 2rem;
  }
  p {
    font-size: 20px;
    margin-bottom: 2.5rem;
    line-height: 1.4;
    strong {
      font-family: "HN Black";
    }
  }
  &--img {
    position: relative;
    margin-top: -12.5rem;
    img {
      border-radius: 50%;
    }
    &:after {
      content: "";
      background-image: url(../assets/arch_large.svg);
      background-repeat: no-repeat;
      position: absolute;
      height: 285px;
      width: 285px;
      right: -45px;
      bottom: -45px;
    }
  }
}

//  BASIC HEADER----
.basic-header {
  padding: 2.5rem 0;
  margin-bottom:2.5rem;
  h1 {
    margin-bottom: 2rem;
    font-family: "HN Black";
    font-size: 40px;
  }
  p {
    font-size: 24px;
    line-height: 1.45;
  }
  &--img {
    border-radius: 50%;
    overflow: hidden;
    height: 292px;
    width: 292px;
    border:1px solid #2e2e2e;
    img {
      object-fit: cover;
      height: 100%;
      object-position: right center;
      border:10px solid #fff;
      border-radius: 50%;
    }
  }
}

//  Text Simple
.text-simple {
  padding-bottom: 2.5rem;
  &.bordered {
    margin-bottom: 2rem;
    h2{
      font-size: 24px;
      font-family: "HN Black";
      padding-bottom:20px;
    }
  }
  ul > li,
  ol > li {
    list-style: disc;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 1.4;
  }
  &.heading {
    h2 {
      font-size: 24px;
      font-family: "HN Black";
      margin-bottom: 2rem;
      margin-left: -3.5rem;
      position: relative;
      letter-spacing: 0.2px;
      &:after {
        content: "";
        position: absolute;
        background-image: url(../assets/title_zigzag.svg);
        width: 80px;
        height: 12px;
        background-size: 75px;
        background-repeat: no-repeat;
        top: 28px;
        left: 55px;
      }
    }
  }
  &.bg-palest{
    padding-top:2.5rem;
  }
}

// Two column image with text {
.two-col-img-text {
  padding: 5rem 0;
  .content {
    padding-right: 1rem;
  }
  &--img {
    position: relative;
    height: 458px;
    width: 458px;
    margin-top: -2rem;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      background-image: url(../assets/arch_large.svg);
      background-repeat: no-repeat;
      position: absolute;
      height: 285px;
      width: 285px;
      right: -45px;
      bottom: -45px;
    }
  }
}

.text-simple.bg-palest, .two-col-img-text.bg-palest{
  + div{
    padding-top:2.5rem;
  }
}

@media screen and (min-width:992px){
  .llista-columnes{
    .content.bordered{
      ul{
        column-count: 2;
        column-gap: 40px;
        // display: inline-flex;
        // flex-wrap: wrap;
        // gap: 12px;
        // justify-content: space-between;
        // li{
        //   flex-basis:calc(50% - 25px); 
        // }
      }
    }
  }
}