.description-image{
    padding-top:10px;
    font-size:16px;
    color:#707070;
}

.article-teaser{
    margin:15px 0;
    padding:15px 0 50px 0;
    h2{
        font-size:24px;
        padding-bottom:15px;
    }
    .date{
        padding-bottom:15px;
        color:#707070;
    }
    .summary{
        p{
            font-size:20px;
            line-height:28px;
        }
    }
    .arrow-link{
        margin-top:20px;
    }
}

.llista-noticies{
    .basic-header{
        padding-top:3rem;
    }
    .view-lista-noticies{
        > div:nth-child(even){
            background-color:#F2F6F5;
        }
    }
}

.article-detail{
    .date{
        padding-bottom:20px;
        color:#707070;
        margin-top:-10px;
    }
}

.pager{
    width:100%;
    padding-top:20px;
    padding-left:15px;
    ul{
        display:flex;
        li{
            margin-right:10px;
            a{
                color:#FF4040
            }
            &.is-active{
                a{
                    color:#2E2E2E;
                    &:hover{
                        color:#FF4040;
                    }
                }
            }
            &:hover{
                color:#FF4040;
                text-decoration: underline;
                color:#FF4040;
            }
        }
        .pager__item--last,
        .pager__item--next,
        .pager__item--previous,
        .pager__item--first{
            display:none;
        }
    }
}

@media screen and (max-width:992px){
    .article-teaser .col-text{
        margin-top:15px;
    }
}