@font-face {
  font-family: "HN Bold";
  src: url("../fonts/HelveticaNeue-Bold.otf") format("opentype");
}

@font-face {
  font-family: "HN Black";
  src: url("../fonts/HelveticaNeue-Black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "HN Roman";
  src: url("../fonts/HelveticaNeue-Roman.otf") format("opentype");
  font-weight: 400;
}

// BASE FONT STYLES -------

h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "HN Bold", sans-serif;
}

p,
ul > li,
ol > li,
span,
small,
div > a,
div {
  font-family: "HN Roman", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}
